/* font style of the entire portfolio */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* -------------- */


/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.section-description{
    font-size: 18px;
    text-align: center;
}
/* -------------- */


/* header styles */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* -------------- */


/* navbar styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: b;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    /* remove the . sign from the list items */
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    /* remove the underline of the anchor link */
    font-size: 20px;
}
/* -------------- */


/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 585px;
    margin-top: 120px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}

div h3,h1{
    margin: 0;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

div h1,p{
    margin-bottom: 0px;
}

.banner-description{
    font-size: 18px;
}

div > button,p{
    margin-top: 30px;
}

div > button{
    margin-right: 30px;
}

.banner-profile-pic{
    width: 580px;
}
/* -------------- */

/* Main Styles */
main{
    max-width: 1140px;
    margin:0 auto;
}

main section{
    margin-top: 130px;
}

/* About Sections Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgb(245, 243, 243);
    margin-top: 50px;
    border-radius: 10px;
    height: 180px;
}

.item-title{
    font-size: 20px;
}

.item-description{
    font-weight: bold;
    font-size: 20px;
}
/* -------------- */


/* Skills Section Styles */
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
}
/* -------------- */

/* Resume Section Styles */
.resume-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.education-title{
    font-weight: bold;
    font-size: 30px;
}

.resume-title{
    font-weight: bold;
    font-size: 25px;
}

.resume-subtitle{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-description{
    font-size: 16px;
}

.experience-title{
    font-weight: bold;
    font-size: 30px;
}

.resume hr{
    margin: 30px 5px;
}

.resume-download-btn{
    text-align: center;
    margin-top: 50px;
}
/* -------------- */

/* Footer Styles */
footer{
    margin-top: 120px;
    padding: 130px 230px;
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
}

.footer-column{
    width: 50%;
}

.connects{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.connects-time{
    margin-bottom: 30px;
}

.message-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

footer input[type="text"], input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;
    font-size: 25px;
}
/* -------------- */